<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="faculdadeapp.js"></script>
    <title></title>
</head>
<body>
    <input type="text" placeholder="Pesquisa Aluno" ng-model="pesquisa">
    <button ng-click="pesquisar()">Pesquisar</button>
    <h1 ng-repeat="aluno in resultadoPesquisa">{{aluno.nome}}</h1 >
</body>
</html>