<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/pesquisaAluno.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="faculdadeapp.js"></script>
    <title></title>
</head>
<body>

    <div ng-controller="gerenciarSalas">    
        <select data-ng-init="getAll()" ng-change="changeVars()" ng-model="serieSelecionada">
            <option value="{{sala.serie}}" ng-repeat="sala in salas">{{sala.serie}}</option>
        </select>
        <select name="" id="" ng-click="getBySerie()" ng-change="changeVars()" ng-model="letraSelecionada" ng-option="letra as sala.letra for sala in salasBySerie">
            <option ng-repeat="sala in salasBySerie" value="{{sala.letra}}">{{sala.letra}}</option>
        </select>
    </div>
    <input type="text" placeholder="Nome do aluno" ng-model="pesquisa" ng-change="pesquisar()">
    <h1 ng-repeat="aluno in resultadoPesquisa">{{aluno.nome}}</h1 >
</body>

</html>