<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    
    <div ng-controller="gerenciarSalas">    
        <select ng-model="serieSelecionada" ng-change="changeVars()">
            <option value="{{series[0]}}" selected>{{series[0]}}</option>
            <option ng-repeat="serie in series" ng-if="serie != series[0]" value="{{serie}}">{{serie}}</option>
        </select>
        <select name="" id="" ng-click="getBySerie()" ng-change="changeVars()" ng-model="letraSelecionada">
            <option ng-repeat="sala in salasBySerie" value="{{sala.letra}}">{{sala.letra}}</option>
        </select>
    </div>

    <input type="text" name="Nome" placeholder="Nome do aluno" ng-model="nomeAluno">
    <button ng-click="cadastrarAluno()">Cadastrar Aluno</button>
</body>
</html>